<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="assets/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="assets/style.css" rel="stylesheet">
    <title>Contrôle Technique Bang</title>
  </head>
  <body>
    <style media="all">
      body {
        font-family: 'Open-sans', sans-serif;
        margin: 0;
        color: #4A4A4A;
      }
      p {
        margin: 0;
        font-weight: 300;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      a {
        color: #F5A623;
      }
      a:hover {
        color: rgba(245,166,35,.7)
      }
      .abs {
        position: absolute;
      }
      .flex {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .d-none {
        display: none;
      }

      #header {
        overflow: hidden;
      }
      #header .background {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 11em;
        margin-top: 2em;
        transform-origin: right;
        transform: skewY(-11deg);
        background: linear-gradient(61deg, #FBD249 0%, #F5A623 44%, #BA5624 85%);
      }
      #header .background span:first-child {
        right: 0;
        bottom: 0;
        width: 7em;
        height: 4em;
        background: #BA5624;
      }
      #header .background span:nth-child(2) {
        left: -5%;
        top: 25%;
        width: 7em;
        height: 4em;
        background: #F9C840;
      }
      #header .background span:last-child {
        left: 40%;
        top: -5%;
        width: 7em;
        height: 4em;
        background: rgba(230,202,142,0.17);
      }
      #title {
        top: .5em;
        left: .5em;
        font-size: 2em;
        margin: 0;
        display: flex;
        letter-spacing: -1.3px;
        font-weight: 300;
        color: #F5A623;
      }
      .title-minus-black {
        font-size: .5em;
        margin: .2em 0 0 0;
        color: #4A4A4A;
        letter-spacing: -.35px;
        line-height: .9em;
      }
      #main {
        width: calc(100% - 4em);
        top: 7em;
        padding: 0 2em;
        text-align: center;
      }
      #catchphrase {
        font-size: 12px;
        color: white;
        text-align: center;
      }
      #schedule-table {
        display: flex;
        position: relative;
        background: #F7F9FC;
        box-shadow: .5px 1px 3px rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 200px;
        margin: 1em 0;
        overflow: hidden;
      }
      #schedule-table .background {
        height: 50%;
        width: 100%;
        bottom: -10%;
        transform: skewY(-11deg);
        background: rgba(216,216,216,.2);
        z-index: 1;
      }
      #days {
        height: calc(100% - 2em);
        font-size: 11px;
        padding: 1em;
        flex-direction: column;
        align-items: left;
        width: 20%;
        z-index: 2;
      }
      #separator {
        width: 1px;
        margin: 1.5em 0;
        height: calc(100% - 3em);
        background: #979797;
        z-index: 2;
      }
      #hours {
        width: 70%;
        height: 100%;
        font-size: 10px;
        z-index: 2;
      }
      #hours ul {
        padding: 1em 0;
        height: calc(100% - 2.2em);
        flex-direction: column;
      }
      #secondary {
        font-size: 16px;
        height: 412px;
        margin-top: 11em;
        overflow: hidden;
      }
      #secondary .background {
        width: 100%;
        height: 150px;
        transform: skewY(-11deg);
        background: rgba(216,216,216,.2);
        z-index: -1;
      }
      #call-to-action {
        text-align: center;
      }
      #call-to-action p {
        font-size: .75em;
        margin-bottom: .3em;
        letter-spacing: -.3px;
      }
      .phone {
        margin: 2em;
        text-decoration: none;
        color: #5C2B43;
        font-size: .75em;
      }
      #map {
        margin: 1em 0 -10px 0;
        width: 100%;
        height: 12em;
      }
      #details {
        padding: calc(1em + 10px) 0;
        background-color: #F6F6F6;
      }
      #details #btn {
        width: 112px;
        margin-left: 16px;
        padding: 3px 0 4px 8px;
        background: white;
        box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.08);
        border-radius: 1px;
      }
      #details #btn p {
        font-size: 12px;
      }
      #details #btn img {
        padding: 3px 10px;
        width: 9px;
      }
      #details .content {
        margin-left: 2em;
        border-left: 1px solid #F5A623;
        padding: .5em 1em .3em 1em;
      }
      #details .content p {
        font-size: 10px;
      }
      #details .content a {
        font-size: 10px;
      }
      #details .content a img {
        height: 9px;
        width: 9px;
      }
      #contact {
        background-color: white;
        padding: 1em;
        display: flex;
        justify-content: space-between;
      }
      #contact #fb-link img {
        width: 1.5em;
        height: 1.5em;
        display: inline-block;
      }
      #contact #fb-link p {
        margin-left: .75em;
        font-size: 10px;
      }
      #contact #links {
        line-height: 13px;
        text-align: center;
        margin-top: -.15em;
      }
      #contact #links #phone {
        font-size: 12px;

      }
      #contact #links #mail {
        font-size: 10px;
        color: #4A4A4A;
        text-decoration: none;
      }
    </style>

    <section id="header">
      <div class="background">
        <span class="abs"></span>
        <span class="abs"></span>
        <span class="abs"></span>
      </div>
      <h1 id="title" class="abs">
        <p class="title-minus-black">Contrôle</br>Technique</p>
        Bang
      </h1>
    </section>
    <section id="main" class="abs">
      <p id="catchphrase">Le contrôle technique Bang vous accueille du lundi au samedi</p>
      <div id="schedule-table">
        <div class="background abs"></div>
        <ul id="days" class="flex">
          <li>Lundi</li>
          <li>Mardi</li>
          <li>Mercredi</li>
          <li>Jeudi</li>
          <li>Vendredi</li>
          <li>Samedi</li>
        </ul>
        <div id="separator"></div>
        <div id="hours" class="flex">
          <ul id="open" class="flex">
            <li>9h00 - 12h00</li>
            <li>9h00 - 12h00</li>
            <li>9h00 - 12h00</li>
            <li>9h00 - 12h00</li>
            <li>9h00 - 12h00</li>
            <li>9h00 - 12h00</li>
          </ul>
          <ul id="close" class="flex">
            <li>14h00 - 18h30</li>
            <li>14h00 - 18h30</li>
            <li>14h00 - 18h30</li>
            <li>14h00 - 18h30</li>
            <li>14h00 - 18h30</li>
            <li>fermé</li>
          </ul>
        </div>
      </div>
    </section>
    <section id="secondary">
      <div class="background abs"></div>
      <div id="call-to-action">
        <p>Réservez maintenant pour bénéficier d’une remise de 5€</p>
        <a href="tel:0556702773" alt="phone-number" class="phone">05 56 70 27 73</a>
      </div>
      <iframe frameborder="0" style="border:0" id="map"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCUkaq17dKbdEoWnX7GO5nTQaUF0UBNVWE
          &q=CTBang,Blanquefort&zoom=13" allowfullscreen>
      </iframe>
      <div id="details">
        <div id="btn">
          <p>En savoir plus</p>
          <img src="assets/expand.png" class="d-none" alt="expand-ic">
          <img src="assets/close.png" class="" alt="collapse-ic">
        </div>
        <div class="content">
          <p>Le Contrôle Technique Blanquefort Aquitaine Nguyen vous accueille toute la semaine pour procéder au contrôle technique de votre véhicule.</p>
          <a href="https://www.francebleu.fr/infos/societe/nouveau-controle-technique-le-nombre-de-contre-visites-risque-d-augmenter-en-mai-2018-1510247765">Venez profiter d’un prix attractif de 70€ et d’un service rapide avant la réforme du 20 Mai 2018.
            <img src="./assets/ic_open.png" alt="ico-open">
          </a>
        </div>
      </div>
    </section>
    <section id="contact">
      <div id="fb-link">
        <img src="assets/fb_logo.png" alt="facebook-icon">
        <p>CT Bang - Contrôle technique</p>
      </div>
      <div id="links">
        <a href="tel:0556702773" alt="phone-number" class="phone">05 56 70 27 73</a>
        <a id="mail" href="ctbang33@gmail.com">ctbang33@gmail.com</a>
      </div>
    </section>
  </body>
  <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
</html>
