body {
  font-family: 'Open-sans', sans-serif;
  margin: 0;
  color: #4A4A4A;
}
p {
  margin: 0;
  font-weight: 300;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: #F5A623;
}
a:hover {
  color: rgba(245,166,35,.7)
}
.abs {
  position: absolute;
}
.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.d-none {
  display: none;
}

#header {
  overflow: hidden;
}
#header .background {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 11em;
  margin-top: 2em;
  transform-origin: right;
  transform: skewY(-11deg);
  background: linear-gradient(61deg, #FBD249 0%, #F5A623 44%, #BA5624 85%);
}
#header .background span:first-child {
  right: 0;
  bottom: 0;
  width: 7em;
  height: 4em;
  background: #BA5624;
}
#header .background span:nth-child(2) {
  left: -5%;
  top: 25%;
  width: 7em;
  height: 4em;
  background: #F9C840;
}
#header .background span:last-child {
  left: 40%;
  top: -5%;
  width: 7em;
  height: 4em;
  background: rgba(230,202,142,0.17);
}
#title {
  top: .5em;
  left: .5em;
  font-size: 2em;
  margin: 0;
  display: flex;
  letter-spacing: -1.3px;
  font-weight: 300;
  color: #F5A623;
}
.title-minus-black {
  font-size: .5em;
  margin: .2em 0 0 0;
  color: #4A4A4A;
  letter-spacing: -.35px;
  line-height: .9em;
}
#main {
  width: calc(100% - 4em);
  top: 7em;
  padding: 0 2em;
  text-align: center;
}
#catchphrase {
  font-size: 12px;
  color: white;
  text-align: center;
}
#schedule-table {
  display: flex;
  position: relative;
  background: #F7F9FC;
  box-shadow: .5px 1px 3px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 200px;
  margin: 1em 0;
  overflow: hidden;
}
#schedule-table .background {
  height: 50%;
  width: 100%;
  bottom: -10%;
  transform: skewY(-11deg);
  background: rgba(216,216,216,.2);
  z-index: 1;
}
#days {
  height: calc(100% - 2em);
  font-size: 11px;
  padding: 1em;
  flex-direction: column;
  align-items: left;
  width: 20%;
  z-index: 2;
}
#separator {
  width: 1px;
  margin: 1.5em 0;
  height: calc(100% - 3em);
  background: #979797;
  z-index: 2;
}
#hours {
  width: 70%;
  height: 100%;
  font-size: 10px;
  z-index: 2;
}
#hours ul {
  padding: 1em 0;
  height: calc(100% - 2.2em);
  flex-direction: column;
}
#secondary {
  font-size: 16px;
  margin-top: 11em;
}
#secondary .background {
  width: 100%;
  height: 500px;
  transform: skewY(-11deg);
  background: rgba(216,216,216,.2);
  z-index: -1;
}
#call-to-action {
  text-align: center;
}
#call-to-action p {
  font-size: .75em;
  margin-bottom: .3em;
  letter-spacing: -.3px;
}
.phone {
  margin: 2em;
  text-decoration: none;
  color: #5C2B43;
  font-size: .75em;
}
#map {
  margin: 2em 0 1em 0;
  width: 100%;
  height: 12em;
}
#details {}
#details #btn {
  width: 112px;
  margin-left: 16px;
  padding: 3px 12px 4px 8px;
  background: white;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.08);
  border-radius: 1px;
}
#details #btn p {
  font-size: 12px;
}
#details #btn img {
  width: 9px;
}
#details .content {
  margin-left: 2em;
  border-left: 1px solid #F5A623;
  padding: .5em 1em .3em 1em;
}
#details .content p {
  font-size: 10px;
}
#details .content a {
  font-size: 10px;
}
#details .content img {
  height: 9px;
  width: 9px;
}
